/* reset */
* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { font-size: 62.5%; font-family: Helvetica, Arial, sans-serif; background-color: #e5e5e5; overflow: hidden; }

/* header */
header { height: 13px; border-bottom: 1px solid gray; display: block; margin-bottom: 2px; background: #192c3a; padding: 7px 10px 10px; text-align: center; position: relative; }
header div { font-size: 15px; color: #999; letter-spacing: 0.5px; text-transform: uppercase; position: absolute; }
header div input { margin: 0 1px; }
header div#title { left: 10px; top: 6px; }
header select { margin: 0 auto; }
header div#credit { right: 10px; top: 6px; }